
GEMINI_API_KEY=AIzaSyAR3NI7yiYnbskVpw0aTxrTJW6WE1gQQC4
TELEGRAM_BOT_TOKEN=8790171024:AAGqK6kVLw5xDpu63AL1EzQu2MMiyRRsPss
TELEGRAM_WEBHOOK_SECRET=agumir-telegram-webhook-key-143
NEXT_PUBLIC_APP_URL=https://smart-daily-assistant.vercel.app/